body {
 background-image: url("../img/background.jpeg");
 background-color: #CBBD93;
}

.groupsSection {
	display:flex;
	flex-direction: column;
}

.trips {
	display: grid;
	grid-template-columns: auto auto auto;
}

.inlined {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: start;
}

.blocked {
	display: flex;
	flex-direction: column;
}

.hidden {
	visibility: hidden;
}

.inputNumber {
	width: 50px;
}

.centerText {
	text-align: center;
}

.bg-frosted-glass {
	background: rgba(255, 255, 255, 0.19);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.4px);
	-webkit-backdrop-filter: blur(8.4px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}