<!DOCTYPE html>
<html lang="en" xmlns:th="https://wwww.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../static/css/main.css" />

<title>Forms</title>
</head>

<body>
	<form th:fragment="registerTrip(tripTypeID)" method="POST" th:action="@{/trips/book/book_departure}">
		<h4 th:text="${tripType.title}">2 hours trip</h4>
		<div class="card-body">
			<p th:text="${#numbers.formatDecimal(tripType.price, 1, 'COMMA', 0, 'POINT')+ '€'} + ' - ' + ${tripType.duration} + ' ' + (${tripType.duration==1} ? #{parts.trip.hour} : #{parts.trip.hours})"
				class="card-text h5">0.00€ 1 hour</p>
			<p th:text="${tripType.description}" class="text-secondary">desc</p>
			<p th:text="${tripType.maxPlaces} + ' ' + #{parts.trip.places} "
				class="card-text">places</p>
			<p th:text="#{book.date}" class="card-text">Trip Date</p>
			<div class="inline">
				<p th:text="#{book.select.date}" class="text-secondary">Select trip Date</p>
				<input class="text-secondary" type="date" name="" id=""></input>
			</div>
			<input class="btn btn-success" th:text="#{book.next}" type="submit">Next</input>
		</div>
	</form>
</body>